{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Karinaap</title>
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
{% endblock meta %}

{% block content %}

<!--About me-->
<img src="{% static 'img/Aboutme.png' %}" alt="About me" class="img-fluid" id="about-me">
<div class="row aboutme">
  <div class="col-lg col1">
    <img src="{% static 'img/Fotoku.jpg' %}" alt="Foto Karina" class="img-fluid">
  </div>
  <div class="col-lg-6 col2">
    <h3>Who Am I?</h3>
    <p>Halo! Saya Karina Aulia Putri, seorang mahasiswi jurusan  Sistem Informasi di Universitas Indonesia angkatan 2019 dengan NPM 1906298954. Kesibukan saya saat ini hanya belajar dan mengikuti kegiatan organisasi juga kepanitiaan.</p> <br>
    <span class="h3-grey">
      <h3>Hobbies</h3>
      <p>Hobi saya adalah menonton film, mengedit video atau foto dan sekarang sepertinya mulai tertarik untuk menjadikan web design sebagai salah satu hobi saya.</p>
    </span>
  </div>
</div>

<div class="row aboutme">
  <div class="col-lg-6 col3">
    <h3>Experiences</h3>
    <p>Sejauh ini di dunia perkuliahan saya hanya mengikuti satu organisasi yaitu BEM Fasilkom UI sebagai staff Departemen Keilmuan dan kepanitiaan yang pernah maupun sedang saya jalani adalah Wisgan 2020, Siwak 2021 dan Wisgan 2021.</p> <br>
    <span class="h3-grey">
      <h3>Personalities</h3>
      <p>Saya adalah seseorang yang suka belajar hal baru, ambivert, suka berorganisasi, tidak mudah menyerah,  dan kompeten. Disisi lain saya orang yang mudah bosan, gampang terdistract oleh sesuatu dan overthinking. </p>
    </span>
  </div>
  <div class="col-lg col4">
    <img src="{% static 'img/Keilmuan.jpg' %}" alt="Keilmuan" class="img-fluid" width="400">
  </div>
</div>

<div class="container education">
  <h3>Education</h3> <br> <br>
  <div class="row">
    <div class="col-4 col-md-4 col-edu">
      <img src="{% static 'img/smpn2depok.jpg' %}" alt="SMPN 2 Depok" class="rounded-circle icon">
      <br> SMPN 2 Depok
    </div>
    <div class="col-4 col-md-4 col-edu">
      <img src="{% static 'img/sman5depok.jpg' %}" alt="SMAN 5 Depok" class="rounded-circle icon">
      <br> SMAN 5 Depok
    </div>
    <div class="col-4 col-md-4 col-edu">
      <img src="{% static 'img/logo_ui.png' %}" alt="Logo UI" class="rounded-circle icon">
      <br> Universitas Indonesia
    </div>
  </div>
</div>

<br><br><br><br>
<div id="my-accordion">
  <h3 id="head1">Activities
    <button onclick="movedown('#head1', '#drop1')" class="btn btn-outline-dark btn-sm updown">
      ▼
    </button>
    <button onclick="moveup('#head1', '#drop1')" class="btn btn-outline-dark btn-sm updown">
      ▲
    </button>
  </h3>
  <div id="drop1">
    <p>
    Aktivitas saya saat ini adalah belajar, mengerjakan tugas, mengikuti kegiatan organisasi dan kepanitiaan.
    </p>
  </div>
  <h3 id="head2">Organizations
    <button onclick="movedown('#head2', '#drop2')"  class="btn btn-outline-dark btn-sm updown">
      ▼
    </button>
    <button onclick="moveup('#head2', '#drop2')" class="btn btn-outline-dark btn-sm updown">
      ▲
    </button>
  </h3>
  <div id="drop2">
    <p>
    Organisasi yang saya ikuti saat ini adalah BEM Fasilkom UI sebagai staf di departemen Keilmuan.
    Proker menjadi tanggung jawab saya adalah Apresiasi Kontingen dan Dekan Cup. Untuk kepanitiaan,
    yang pernah saya ikut adalah Wisuda Ganjil 2020 dan yang sedang saya ikuti adalah SIWAK-NG 2021 dan Wisuda Ganjil 2021.
    </p>
  </div>
  <h3 id="head3">Achievements
    <button onclick="movedown('#head3', '#drop3')"  class="btn btn-outline-dark btn-sm updown">
      ▼
    </button>
    <button onclick="moveup('#head3', '#drop3')"  class="btn btn-outline-dark btn-sm updown">
      ▲
    </button>
  </h3>
  <div id="drop3">
    <p>
    Prestasi saat di SMA:
    </p>
    <ul>
      <li>Juara 1 Formasi Pengibaran Terbaik LKBB Epic Award di Balaikota Depok</li>
    </ul>
  </div>
  <h3 id="head4">Hobbies
    <button onclick="movedown('#head4', '#drop4')"  class="btn btn-outline-dark btn-sm updown">
      ▼
    </button>
    <button onclick="moveup('#head4', '#drop4')"  class="btn btn-outline-dark btn-sm updown">
      ▲
    </button>
  </h3>
  <div id="drop4">
    <p>
    Hobi saya saat ini menonton youtube, film dan drama korea. Beberapa drama korea favorit saya:
    </p>
    <ul>
      <li>Start Up</li>
      <li>Fight For My Way</li>
      <li>Crash Landing On You</li>
      <li>Princess Hours</li>
      <li>Suspicious Partner</li>
    </ul>
  </div>
</div>

{% endblock content %}

{% block script %}
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="{% static 'script.js' %}"></script>
{% endblock script %}