{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Activities</title>
{% endblock meta %}

{% block content %}
<div style="text-align: center;">
    <form action="saveactivities" method="POST">
        {% csrf_token %}
        <h3 class="course">Add New Activities</h3>
        {{ forms.form_kegiatan.as_table }}
        <input class="btn btn-dark" type="submit" value="Submit">
    </form>
</div>
<br> <br>

<h1 id="contact-me" style="margin-bottom: 30px;">Activities</h1>
<div class="row row-cols-1 row-cols-md-3">
    {% if data.kegiatan %}
    {% for activity in data.kegiatan %}
    <div class="col mb-4">
        <div class="card" style="width: 22rem;">
            <div class="card-header"><h4>{{ activity.nama_kegiatan }}</h4></div>
            <div class="card-body">
                <h5 class="card-title">Participants</h5>
                {% if data.peserta %}
                    {% for participant in data.peserta %}
                        {% if participant.kegiatan.nama_kegiatan == activity.nama_kegiatan %}
                                <p class="card-text">{{ participant.nama_peserta }}</p>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            </div>
            
            <form action="saveparticipant/{{ activity.id }}" method="POST">
                {% csrf_token %} 
                {{ forms.form_peserta}}
                <input class="btn btn-info" type="submit" value="Add">
            </form>
        </div>
    </div>
    <br><br>
    {% endfor %}
    {% endif %}
</div>

{% endblock content %}
