{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Search Books</title>
{% endblock meta %}

{% block content %}
<div style="margin-top: 50px; text-align: center;">
<h2>Cari Buku</h2>
<input id="search" class="form-control" placeholder="Masukkan nama buku" style="width: 30%; margin: auto; text-align:center;">
<br>
<table class="table table-hover" style="width: 50%; margin: auto;">
    <thead class="thead-light">
        <tr>
            <th>Title</th>
            <th>Cover</th>
        </tr>
    </thead>
    <tbody id="result">
    </tbody>
</table>
<!-- <ol id="result">
</ol> -->
</div>
{% endblock content %}

{% block script %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript">
    $("#search").keyup( function() {
        var content = $("#search").val();
        // console.log(content);
        var url = '/data?q=' + content;
        // console.log(url);
        $.ajax({
            url: url,
            success: function(res) {
                var obj_hasil = $("#result");
                obj_hasil.empty();
                for (i = 0; i < res.items.length; i++) {
                    var title = res.items[i].volumeInfo.title;
                    var thumbnails = res.items[i].volumeInfo.imageLinks.thumbnail;
                    obj_hasil.append('<tr> <td> ' + title + ' </td> <td> <img src='+ thumbnails + '> </td> </tr>');
                }
            }
        });

    });
</script>

<!-- <script src="{% static 'script.js' %}"></script> -->
{% endblock script %}