{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Contact</title>
{% endblock meta %}

{% block content %}
 
  <h1 id="contact-me">Contact me below!</h1>
  <div class="container contact">
    <div class="row">
      <div class="col-4 col-md-4 col-contact">
        <img src="{% static 'img/gmail.jpg' %}" alt="gmail" class="rounded-circle icon"> <br>
        <a href="mailto:KAulia56@gmail.com"><button type="button" class="btn btn-outline-dark">KAulia56@gmail.com</button></a>
      </div>
      <div class="col-4 col-md-4 col-contact">
        <img src="{% static 'img/instagram.png' %}" alt="instagram" class="rounded-circle icon"> <br>
        <a href="https://www.instagram.com/karina.aulia"><button type="button" class="btn btn-outline-dark">@karina.aulia</button></a> 
      </div>
      <div class="col-4 col-md-4 col-contact">
        <img src="{% static 'img/LinkedIn.png' %}" alt="LinkedIn" class="rounded-circle icon"> <br>
        <a href="https://www.linkedin.com/in/karina-aulia-putri-14b96118b/"><button type="button" class="btn btn-outline-dark">Karina Aulia Putri</button></a> 
      </div>
    </div>
  </div>
{% endblock content %}