{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>My Course</title>
{% endblock meta %}

{% block content %}
<div style="margin-left: 40px;">
<h1 id="my_courses">My Courses</h1>
<form action="savecourse" method="POST">
    {% csrf_token %}
    <h3 class="course">Add Course</h3> 
    <table>
        {{ input_form.as_table }}
    </table>
    <input class="btn btn-dark" type="submit" value="Submit">
</form>
<br>
<h3 class="course">Saved Courses</h3>

{% if courses %}
    {% for course in courses %}
        <h4>{{ course.nama_matkul }}</h4>
        <a type="button" class="btn btn-info" href="coursedetails/{{ course.nama_matkul }}">Details</a>
        <a type="button" class="btn btn-outline-danger" href="deletecourse/{{ course.nama_matkul }}" onclick="return confirm('Are you sure want to remove this course?');">Delete</a>
    <br>
    {% endfor %}
{% endif %}
</div>
{% endblock content %}
