{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Details</title>
{% endblock meta %}

{% block content %}
<h1>{{ course.nama_matkul }}</h1>
<table>
    <tr>
        <th>Nama Dosen &nbsp;&nbsp; </th>
        <td>{{ course.nama_dosen }}</td>
    </tr>
    <tr>
        <th>Jumlah SKS &nbsp;&nbsp;</th>
        <td>{{ course.jumlah_sks }}</td>
    </tr>
    <tr>
        <th>Deskripsi &nbsp;&nbsp;</th>
        <td>{{ course.deskripsi }}</td>
    </tr>
    <tr>
        <th>Semester dan Tahun &nbsp;&nbsp;</th>
        <td>{{ course.semester_tahun }}</td>
    </tr>
    <tr>
        <th>Kelas &nbsp;&nbsp;</th>
        <td>{{ course.ruang_kelas }}</td>
    </tr>
</table>
{% endblock content %}
