{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Karinaap</title>
{% endblock meta %}

{% block content %}

  <!-- JUMBOTRON -->
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <p class="display-4">Stay <br> Positive, <br> Be <br> Grateful</p>
      <p class="lead">~Karina</p>
    </div>
  </div>

  <!-- Introduction -->
  <div class="row intro">
    <div class="col roundpic">
      <img src="{% static 'img/Fotoku2.jpg' %}" alt="Foto Karina" class="rounded-circle">
    </div>
    <div class="col col-intro">
      <h2>Welcome to My Website!</h2>
      <p>Hi, I'm Karina! An Information Systems student at University of Indonesia. <br> If you want to know more about me, just check out my profile page! <br> Thank you :) <br><br><br><br></p>
    </div>
  </div>

{% endblock content %}
