{% extends 'base.html' %}
{% load static %}

{% block meta %}
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>Login</title>
<style>
	.login-form {
		width: 340px;
    	margin: 50px auto;
	}
    .login-form form {
    	margin-bottom: 15px;
        background: #f7f7f7;
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
        padding: 30px;
    }
    .login-form h2 {
        margin: 0 0 15px;
    }
    .form-control, .btn {
        min-height: 38px;
        border-radius: 2px;
    }
    .btn {        
        font-size: 15px;
        font-weight: bold;
        background: linear-gradient(to right, #767574 0%, #df8621c4 100%);
        border: none;
    }
    .btn:hover{
        background: linear-gradient(to right, #aa6619c4 0%, #525150 100%);
    }
</style>
{% endblock meta %}

{% block content %}
<div class="login-form">
    <form action="" method="POST">
        {% csrf_token %}
        <h2 class="text-center">Log In</h2>
        <div class="form-group">
            <input type="text" placeholder="Username" name="username" class="form-control">
        </div>
        <div class="form-group">
            <input type="password" placeholder="Password" name="password" class="form-control">
        </div>
        <div class="form-group">
            {% for message in messages %}
                <p class="text-center" style="color: #530000; font-size: 14px;">{{ message }}</p>
            {% endfor %}
        </div>
        <div class="form-group">
            <input type="submit" name="Login" class="btn btn-dark btn-block">
        </div>
        <div class="form-group">
            <p class="text-center">Don't have account?<a href="{% url 'main:register' %}"> Register</a></p>
        </div> 
    </form>
    
</div>
{% endblock content %}                              		