{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Moments</title>
{% endblock meta %}

{% block content %}

  <div class="moments"><h3>Moments</h3></div>
  <div class="row row-cols-1 row-cols-md-2">
    <div class="col mb-4">
      <div class="card">
        <img src="{% static 'img/moments/19birthday.jpg' %}" class="card-img-top" alt="19th Birthday">
        <div class="card-body">
          <h5 class="card-title">19th Birthday</h5>
        </div>
      </div>
    </div>
    <div class="col mb-4">
      <div class="card">
        <img src="{% static 'img/moments/rame.jpg' %}" class="card-img-top" alt="High School">
        <div class="card-body">
          <h5 class="card-title">Smanli</h5>
        </div>
      </div>
    </div>
    
    <div class="col mb-4">
      <div class="card">
        <img src="{% static 'img/moments/tari-merak.jpg' %}" class="card-img-top" alt="Tari Merak">
        <div class="card-body">
          <h5 class="card-title">Tari Merak</h5>
        </div>
      </div>
    </div>
    <div class="col mb-4">
      <div class="card">
        <img src="{% static 'img/moments/bertiga-photo.jpg' %}" class="card-img-top" alt="Bertiga">
        <div class="card-body">
          <h5 class="card-title">Bertiga Photobox</h5>
        </div>
      </div>
    </div>
  </div>

{% endblock content %}