{% extends 'base.html' %}
{% load static %}

{% block meta %}
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>Sign Up</title>
<style>
	.login-form {
		width: 340px;
    	margin: 50px auto;
	}
    .login-form form {
    	margin-bottom: 15px;
        background: #f7f7f7;
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
        padding: 30px;
    }
    .login-form h2 {
        margin: 0 0 15px;
    }
    .form-control, .btn {
        min-height: 38px;
        border-radius: 2px;
    }
    .btn {        
        font-size: 15px;
        font-weight: bold;
        background: linear-gradient(to right, #767574 0%, #df8621c4 100%);
        border: none;
    }
    .btn:hover{
        background: linear-gradient(to right, #aa6619c4 0%, #525150 100%);
    }
</style>
{% endblock meta %}

{% block content %}
<div class="login-form">
    <form action="" method="POST">
        {% csrf_token %}
        <h2 class="text-center">Sign Up</h2>       
        {% for field in form %}
        <div class="form-group">
            {{field}}
        </div>
        {% endfor %}
        <div class="form-group">
            <input type="submit" name="Register" class="btn btn-primary btn-block">
        </div>
        <div class="form-group">
            <p class="text-center">Already have account?<a href="{% url 'main:login' %}"> Login</a></p>
        </div>  
    </form>
</div>

{% endblock content %}          
<!-- <div class="clearfix">
    <label class="pull-left checkbox-inline"><input type="checkbox"> Remember me</label>
    <a href="#" class="pull-right">Forgot Password?</a>
</div>        -->                    		